/*GENERAL*/
body{
    background-color: #cccccc;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}

/*NAVBAR*/
 nav{
     background-color:;
 }
#logo{
    border-radius:50px;
}

#banniere{
    text-align: center;
}

.container{
    text-align: center;
    width: 75%;
    height: auto;
}


